html{
    background-image: url("../Images/BG-aruna.png");
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


a{
    text-decoration: none;
    color: white;
}

a:hover{
    transition: 0.5s;
    color: #33e7ff;
    
}

.menu{
    /* background-color: rgb(0, 0, 0); */
    width: 100%;
   
}

#menu-hoofdmenu{ 
    padding: 3.5%; 
    display: flex;
    justify-content: space-evenly; 
    font-size: larger;
    list-style: none;
}

.titel{
    color: white !important;
    font-size: 8vmin!important;
    
}

.naam{
    color: white !important;
    font-size: 5vmin!important;
}

.titel{
    /* font-size: 10vh; */
    margin-top: 5%;
}


.Aruna-video-test{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15vh;
    
 }


.arrow{
    margin-top: 100px;
}

.images-robot{
    margin: 25px;
    margin-right: 0px!important;

}



.Product-colom{
    margin: 25px;
}

.Product-image{
    display: flex;
    justify-content: right;
}

.Product-tekst,.Product-titel{
    padding: 0px!important;
    background-color: unset!important;
}



.Images-cover{
    margin-top: 15vh;

}

.product-cover{
    margin-top: 15vh;
}

.links-flex-div {
    display: flex;
    margin-bottom: 50px;
}

#menu-footer-menu, #menu-socials {
    list-style: none;
    padding: 0;
}

.social-links, .nav-links {
    color: white;

}

.social-links {
    padding-left: 20vh;
}


footer {
    margin-top: 8%;
    padding: 50px;
}

.footer-text-one {
    margin-top: 0;
    color: white;
}

.wp-block-separator {
    color: white;
}

.footer-area-five {
    color: white;
}

li.menu-item {
    padding-bottom: 10px;
}

.madeby-div {
    padding-top: 25px;
}


@media only screen and (min-width: 2000px){
    .product-tekst{
       margin-left: 8%!important; 
    }
    .Product-image{
        margin-right: 16%;
    }
    
}

@media only screen and (max-width: 1800px){
    .Aruna-video-test{
        width: 550px;
        height: 360px;
        
     }
}

@media only screen and (max-width: 700px){
    .Aruna-video-test{
        width: 350px;
        height: 260px;
        
     }
}


.witte-tekst{
    color: white!important;
}