body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#header-foto{
    /* background-image: url("../Images/BG-aruna.png"); */
    /* min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flexbox;
    align-items: baseline;
}

.wp-block-navigation__container{
    display: flex;
    justify-content: space-evenly;
}
.Video-aruna{
    display: flex;
    justify-content: center;

}

a:hover{
    transition: 0.5s;
    color: #33e7ff;
    
}

.menu{
    /* background-color: rgb(0, 0, 0); */
    width: 100%;
   
}

#menu-hoofdmenu{ 
    padding: 1.5%;
    margin: 0;
    display: flex;
    justify-content: space-evenly; 
    font-size: larger;
    list-style: none;
}

