.product__text {
    background-color: unset !important;
    background-color: rgba(0, 0, 0, 0.2);
}

.product__cover {
    padding: 5vh 10vw;
    margin-bottom: 3.2rem;
    display: flex;
    gap: 3.2rem;
}

.product__title {
    padding: 0vh 10vw;
    color: white;
}